openapi: 3.0.0
info:
  title: Bakkt Crypto Solutions Accounts Gift API
  version: '2.0'
  description: The Bakkt Crypto Solutions API is a REST-based API that provides a platform for clients, so their investors can purchase, hold, sell, and transfer digital assets. Clients must have authorization to use the APIs, secure endpoints, and facilities to ensure safe, fast execution and tracking of orders. Users must specify all date and time units using epoch time in UTC. The URL path includes a version number to indicate major versions which retain backward compatibility to other URLs with the same version prefix. This document is reconstructed by the API Evangelist enrichment pipeline from the per-endpoint OpenAPI fragments Bakkt publishes on its ReadMe developer hub (bakkt.readme.io); it merges the Crypto Solutions (/apex-crypto/api/v2) and Fiat/Partner (/partner/v1) endpoint families.
  termsOfService: https://bakkt.com/user-agreement
  contact:
    name: Bakkt User Account Agreement
    url: https://bakkt.com/user-agreement
servers:
- url: https://api.bakkt.com
  description: Bakkt API gateway (dedicated per-client, IP-whitelisted; base paths /apex-crypto/api/v2 and /partner/v1)
tags:
- name: Gift
paths:
  /apex-crypto/api/v2/allocation/gift:
    post:
      description: Request to gift to a single customer account
      operationId: allocationGiftCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiftAllocationRequest'
        required: true
      responses:
        '200':
          description: Returns summary of the gift request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftAllocation'
        '400':
          description: This response returns if the check was improperly submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - api_key: []
      summary: Request For Gift
      tags:
      - Gift
  /apex-crypto/api/v2/allocation/gift/{clientTransactionId}:
    get:
      description: Retrieve details pertaining to a particular gift by its clientTransactionId
      operationId: allocationGiftGet
      parameters:
      - description: Client-specified unique identifier for the gift
        in: path
        name: clientTransactionId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns details of the gift
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftAllocation'
        '400':
          description: This response returns if the check was improperly submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - api_key: []
      summary: Retrieve Gift Details By clientTransactionId
      tags:
      - Gift
components:
  schemas:
    GiftAllocation:
      description: Summary of the gift request
      properties:
        createdAt:
          description: Time of submission to the Bakkt platform
          format: date-time
          type: string
          x-order: 0
        id:
          description: Bakkt unique identifier for the gift
          format: uuid
          type: string
          x-order: 1
        notional:
          description: Order size in approximate monetary units
          format: decimal
          type: string
          x-order: 4
        price:
          description: Price of the coin
          format: decimal
          type: string
          x-order: 2
        quantity:
          description: Order size in number of product units
          format: decimal
          type: string
          x-order: 3
        rejectReason:
          description: The reason the allocation was rejected
          type: string
          x-order: 7
        request:
          $ref: '#/components/schemas/GiftAllocationRequest'
        status:
          $ref: '#/components/schemas/AllocationStatus'
      required:
      - createdAt
      - id
      - request
      - status
    Error:
      properties:
        code:
          description: This code represents an HTTP style error code. Error codes in the 4xx range indicate errors made in the way the client made the request. Error codes in the 5xx range indicate errors that the Apex Crypto system encountered in handling the request.
          format: int32
          type: integer
        message:
          description: This error message provides additional insight into the nature of the error encountered.
          type: string
      required:
      - code
      - message
      type: object
    AllocationStatus:
      description: Status of allocation
      enum:
      - PENDING
      - IN_PROGRESS
      - COMPLETE
      - REJECTED
      - CANCELLED
      type: string
    GiftAllocationRequest:
      description: Gift request for a particular customer account
      properties:
        account:
          description: Investor account identifier
          type: string
          x-order: 0
        clientTransactionId:
          description: Client-specified unique identifier for the gift
          format: uuid
          type: string
          x-order: 1
        currency:
          description: Coin to be allocated
          type: string
          x-order: 2
        notional:
          description: Order size in approximate monetary units; mutually exclusive with quantity
          format: decimal
          type: string
          x-order: 3
        quantity:
          description: Order size in number of product units; mutually exclusive with notional
          format: decimal
          type: string
          x-order: 4
      required:
      - account
      - clientTransactionId
      - currency
