openapi: 3.0.0
info:
  title: Bakkt Crypto Solutions Accounts Configuration and Status API
  version: '2.0'
  description: The Bakkt Crypto Solutions API is a REST-based API that provides a platform for clients, so their investors can purchase, hold, sell, and transfer digital assets. Clients must have authorization to use the APIs, secure endpoints, and facilities to ensure safe, fast execution and tracking of orders. Users must specify all date and time units using epoch time in UTC. The URL path includes a version number to indicate major versions which retain backward compatibility to other URLs with the same version prefix. This document is reconstructed by the API Evangelist enrichment pipeline from the per-endpoint OpenAPI fragments Bakkt publishes on its ReadMe developer hub (bakkt.readme.io); it merges the Crypto Solutions (/apex-crypto/api/v2) and Fiat/Partner (/partner/v1) endpoint families.
  termsOfService: https://bakkt.com/user-agreement
  contact:
    name: Bakkt User Account Agreement
    url: https://bakkt.com/user-agreement
servers:
- url: https://api.bakkt.com
  description: Bakkt API gateway (dedicated per-client, IP-whitelisted; base paths /apex-crypto/api/v2 and /partner/v1)
tags:
- description: Client systems can use these resources to provide a connection to the platform's services and check API status.
  name: Configuration and Status
paths:
  /apex-crypto/api/status:
    get:
      description: This endpoint provides an easy way to ensure the dedicated API Gateway is online and ready to service requests.
      operationId: getApiStatus
      responses:
        '200':
          description: If the API is in a good state, this call returns the text "ok."
          content:
            application/json:
              schema:
                type: string
        default:
          description: If this request encounters an issue, the system provides an error code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Check the Health of the API Gateway
      tags:
      - Configuration and Status
  /apex-crypto/api/v2/config:
    get:
      description: Use this endpoint to get various configuration items for client systems to receive a flow of market data and coin transfers updates during and after processing.
      operationId: getConfig
      responses:
        '200':
          description: This response returns the WebSocket URLs to track market data and transfers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '401':
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - api_key: []
      summary: Get Client Connection Configurations
      tags:
      - Configuration and Status
components:
  schemas:
    ConfigResponse:
      properties:
        streamingQuoteUrl:
          type: string
          x-order: 0
    Error:
      properties:
        code:
          description: This code represents an HTTP style error code. Error codes in the 4xx range indicate errors made in the way the client made the request. Error codes in the 5xx range indicate errors that the Apex Crypto system encountered in handling the request.
          format: int32
          type: integer
        message:
          description: This error message provides additional insight into the nature of the error encountered.
          type: string
      required:
      - code
      - message
      type: object
