openapi: 3.2.0
info:
  title: Bakkt Crypto Solutions Instruments API
  version: '2.0'
  description: The Bakkt Crypto Solutions API is a REST-based API that provides a platform for clients, so their investors can purchase, hold, sell, and transfer digital assets.
  termsOfService: https://bakkt.com/user-agreement
  contact:
    name: Bakkt User Account Agreement
    url: https://bakkt.com/user-agreement
servers:
- url: https://api.bakkt.com
  description: Bakkt API gateway (dedicated per-client, IP-whitelisted; base paths /apex-crypto/api/v2 and /partner/v1)
tags:
- description: Instruments provides information about assets offered on the platform.
  name: Instruments
paths:
  /apex-crypto/api/v2/instruments:
    get:
      description: Use this endpoint to retrieve information about all crypto intruments in the system.
      operationId: getInstruments
      responses:
        '200':
          description: This response returns information for all instruments in the system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentResponse'
        '500':
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: This response returns if the system encounters an unexpected error while handling this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - api_key: []
      summary: Retrieve Instrument Definitions
      tags:
      - Instruments
components:
  schemas:
    Error:
      properties:
        code:
          description: This code represents an HTTP style error code. Error codes in the 4xx range indicate errors made in the way the client made the request. Error codes in the 5xx range indicate errors that the Apex Crypto system encountered in handling the request.
          format: int32
          type: integer
        message:
          description: This error message provides additional insight into the nature of the error encountered.
          type: string
      required:
      - code
      - message
      type: object
    Instrument:
      properties:
        minimumOrderQuantity:
          description: The smallest quantity of this crypto that can be bought or sold
          type: string
        minimumPriceIncrement:
          type: string
        minimumQuantityIncrement:
          type: string
        symbol:
          type: string
      required:
      - minimumOrderQuantity
      - minimumPriceIncrement
      - minimumQuantityIncrement
      - symbol
    InstrumentResponse:
      properties:
        instruments:
          items:
            $ref: '#/components/schemas/Instrument'
          type: array
